<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    style
        include ./style1.css
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href = '/'>Home</a></li>
            <li><a href = '/About'>About</a></li>
            <li><a href = '/Services'>Services</a></li>
            <li><a href = '/Contact'>Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>
            Welcome Welcome to our website, Register now for free
        </h2>

        <form action="/" method="post" id = "contact">
            <input type="text" name = "name" placeholder = "Enter your name">
            <input type="number" name = "age" placeholder = "Enter your age">
            <input type="text" name = "gender" placeholder = "Enter your gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder = "Enter your address"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
    
</body>
</html>