<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pug</title>
    style
        include ./style.css


<body>
    <div class="container">
        <h1>
            This is just a tutorial explaining how to server raw html files using pug template engine
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae suscipit adipisci magnam porro tenetur architecto earum voluptate? Nostrum accusantium nulla exercitationem, neque temporibus culpa, expedita aliquid asperiores adipisci nihil deserunt. Ipsum iusto labore minus aliquid aliquam eligendi eveniet veritatis excepturi odio totam! Optio debitis odit perspiciatis at in saepe fuga corrupti nobis inventore adipisci nulla itaque, expedita a veniam doloribus quos illo eius asperiores aperiam quaerat exercitationem, necessitatibus totam ducimus accusamus. Rerum neque, nihil inventore iste beatae aut aspernatur sed harum qui pariatur libero fugit quia! Ipsa, facere.
        </p>
    </div>
</body>
</html>